.footer__column-link {
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: white;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.footer__column-link:hover {
  opacity: .7;
}