.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  position: relative;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  margin: 0;
  z-index: 2;
  max-width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  color: #000;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  z-index: 2;
  bottom: 30px;
  left: 64px;
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #000000;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  background-image: url(../images/header-image.png);
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

/* Description */

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  color: #000000;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  margin: 30px 0 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

/* Секция digits */

.digits {
  padding: 100px 0;
}

.section-title {
  width: 60%;
  text-align: center;
  margin: 0 auto 20px;
  color: #000000;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  color: #000000;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.table {
  width: 1100px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  color: #000000;
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}

.table__text {
  margin: 20px 0 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

/* Feynman */

.feynman {
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}

.feynman__title {
  text-align: center;
  margin: 0 auto;
  color: #000000;
  max-width: 648px;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  padding: 100px 0 70px;
}

.feynman__subtitle {
  text-align: center;
  margin: 0;
  color: #000000;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  color: #2f80ed;
}

/* Kayfman */

.kaufman {
  background-color: #1f1f1f;
  padding: 90px 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  z-index: -1;
}

/* Footer */

.footer {
  box-sizing: border-box;
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
  display: flex;
  justify-content: center;
  padding: 60px 0 40px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  margin: 18px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.footer__column-heading {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.footer__column-links {
  margin: 20px 0 16px;
}

.footer__column-link {
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: white;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}