.khan__buy-link {
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  text-decoration: none;
  color: #2f80ed;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
  align-self: flex-start;
}

.khan__buy-link:hover {
  opacity: .7;
}